<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ProconTel.Sdk" version="1.0.5" targetFramework="net461" />
  <package id="ProconTel.Sdk.UI" version="1.0.5" targetFramework="net461" />
  <package id="ProconTel.Sdk.UI.Configuration" version="1.0.5" targetFramework="net472" />
  <package id="ProconTel.Utilities" version="1.0.0.1" targetFramework="net472" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net472" />
</packages>